<div class="admin-layout">
    <nav class="admin-nav navbar navbar-expand navbar-light">
        <div class="navbar-nav">
            <a routerLink="accounts" routerLinkActive="active" class="nav-item nav-link">Accounts</a>
            <a routerLink="requests" routerLinkActive="active" class="nav-item nav-link">Requests</a>
            <a routerLink="employees" routerLinkActive="active" class="nav-item nav-link">Employees</a>
            <a routerLink="workflows" routerLinkActive="active" class="nav-item nav-link">Workflows</a>
        </div>
    </nav>
    <div class="p-4">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>